/*
_________________________________________________
|                                               |
| ##   ## # #####    ##    ####  #      ######  |
| # # # # # #    #  #  #  #    # #      #       |
| #  #  # # #    # #    # #      #      #####   |
| #     # # #####  ###### #      #      #       |
| #     # # #   #  #    # #    # #      #       |
| #     # # #    # #    #  ####  ###### ######  |
|                                               |
|       Thank you for using Miracle theme !     |
|              Author: HiFun Team               |
|                 License : MIT                 |
|_______________________________________________|
*/
#page-main {
  display: block !important;
}
#css-loading {
  display: none !important;
}
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  background: transparent;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 2px;
  transition: 0.2s;
}
::selection {
  background: #e6e6e6;
  color: #000;
}
#page-main {
  margin: 0;
  padding: 0;
  margin-top: 54px;
}
.p-dot {
  margin: 0 0.2rem;
}
.p-dot:after {
  content: '·';
}
h1 {
  font-size: 1.9rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.55rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.15rem;
}
p {
  font-size: 1rem;
}
.display-inline {
  display: inline !important;
}
.donutSpinner {
  display: inline-block;
  border: 4px solid #e5edff;
  border-left-color: #5851ec;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}
.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #5851ec;
  margin-bottom: -5px;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
  content: '';
}
.bouncingLoader > div {
  margin: 0 5px;
}
.bouncingLoader > div {
  animation-delay: 0.2s;
}
.bouncingLoader:after {
  animation-delay: 0.4s;
}
/* Home */
#index-banner {
  z-index: 0;
  top: 0px;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: default;
  overflow-wrap: break-word;
}
.index-card {
  border-radius: 0.5rem;
  margin: auto;
  max-width: 700px;
  box-shadow: var(--shadow);
  padding: 28px;
  margin-bottom: 1.8rem;
  padding-top: 5px;
  background-color: var(--post-bkg-color);
}
.index-card a {
  color: var(--first-text-color);
}
.post-card-main {
  max-width: 650px;
  position: relative;
  width: 100%;
}
.post-card-center {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1.8rem;
}
.index-pin {
  color: var(--third-text-color);
}
.post-metas {
  color: var(--third-text-color);
}
#index-banner {
  top: 30px;
  text-align: center;
}
@media (max-width: 576px) {
  #index-banner {
    padding-bottom: 30px;
  }
}
#banner-name {
  position: relative;
  display: inline-block;
  font-size: 2em;
  margin: 0.5em 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5em;
  color: var(--first-text-color);
}
#banner-name:before {
  content: "";
  position: absolute;
  height: 12px;
  bottom: 5px;
  width: 105%;
  left: -2.5%;
  z-index: -1;
  background-color: var(--home-title-color);
  opacity: 0.3;
  transition: 0.1s ease background-color;
}
.slogan {
  color: var(--third-text-color);
  margin: 0.3em 0;
  max-width: 95%;
  text-align: center;
  margin: 0 auto;
}
.banner-text {
  width: 100%;
}
/* Footer */
footer {
  margin: 0;
  padding: 0;
  color: var(--third-text-color);
  margin-top: 10px;
  padding: 5px;
}
footer p {
  font-size: 0.95rem;
}
.pagination span {
  color: var(--third-text-color);
}
.pagination a {
  color: var(--second-text-color);
}
.pagination .current:hover,
.pagination a:hover {
  background-color: var(--sec-bkg);
}
.pagination .current,
.pagination a {
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  border-radius: 0.125rem;
  transition: var(--post-bkg-color) 0.2s ease-in-out;
}
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Rewrite */
@media print {
  header,
  .post-meta-label,
  footer {
    display: none !important;
  }
  article a {
    text-decoration: underline !important;
  }
  article a::after {
    content: "(" attr(href) ")";
  }
  html > body {
    background-color: #fff !important;
  }
  article p {
    color: rgba(0,0,0,0.8) !important;
  }
  #post-meta,
  #article {
    font: 13pt Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif !important;
  }
  #article p {
    page-break-inside: auto;
  }
  #article,
  #post-meta {
    box-shadow: none;
  }
}
.display-none {
  display: none !important;
}
footer,
.p-btn {
  display: inline !important;
}
[data-theme='dark'] * {
  transition: none !important;
}
.display-inline {
  display: inline;
}
#i-up,
#i-menu {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 15px;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  text-indent: -9999px;
}
#i-up:before {
  height: 0.65em;
  width: 0.65em;
  border-style: solid;
  border-width: 2px 0 0 2px;
  transform: translate(-50%, -25%) rotate(45deg);
}
#i-menu:before {
  box-shadow: 0 -0.35em, 0 0.35em;
  border-top: 2px solid;
  width: 100%;
  transform: translate(-50%, -50%);
}
#i-menu:after,
#i-menu:before,
#i-up:after,
#i-up:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
}
[data-theme='dark'] #waline {
/* 常规颜色 */
  --waline-white: #181c27;
  --waline-light-grey: #666;
  --waline-dark-grey: #999;
/* 布局颜色 */
  --waline-text-color: rgba(255,255,255,0.86);
  --waline-bgcolor: #181c27;
  --waline-bgcolor-light: #272727;
  --waline-border-color: #333;
  --waline-disable-bgcolor: #222;
  --waline-disable-color: #272727;
/* 特殊颜色 */
  --waline-bq-color: #3e4b5e;
/* 其他颜色 */
  --waline-info-bgcolor: #272727;
  --waline-info-color: #666;
}
@-moz-keyframes donut-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes donut-spin {
  to {
    transform: rotate(1turn);
  }
}
@-o-keyframes donut-spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes donut-spin {
  to {
    transform: rotate(1turn);
  }
}
@-moz-keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}
@-webkit-keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}
@-o-keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}
