/* GitHub Markdown CSS */
/* Textretty.css */
@charset 'utf-8';
.textretty {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--second-text-color);
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  word-wrap: break-word;
  box-sizing: border-box;
}
.textretty * {
  box-sizing: border-box;
}
.textretty a {
  background-color: transparent;
  color: var(--second-text-color);
  text-decoration: none;
  border-bottom: 2px solid #ccc;
  transition: opacity 0.2s;
}
.textretty a:hover {
  opacity: 0.8;
}
.textretty a:active {
  opacity: 0.7;
}
.textretty strong {
  font-weight: bolder;
  font-weight: 600;
}
.textretty h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-size: 2em;
}
.textretty h1,
.textretty h2,
.textretty h3,
.textretty h4,
.textretty h5,
.textretty h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.textretty h1 {
  font-size: 32px;
}
.textretty h1,
.textretty h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
}
.textretty h2 {
  font-size: 24px;
  font-size: 1.5em;
}
.textretty h3 {
  font-size: 20px;
  font-size: 1.25em;
}
.textretty h3,
.textretty h4 {
  font-weight: 600;
}
.textretty h4 {
  font-size: 16px;
  font-size: 1em;
}
.textretty h5 {
  font-size: 14px;
  font-size: 0.875em;
}
.textretty h5,
.textretty h6 {
  font-weight: 600;
}
.textretty h6 {
  font-size: 12px;
  color: var(--third-text-color);
  font-size: 0.85em;
}
.textretty h1,
.textretty h2,
.textretty h3,
.textretty h4,
.textretty h5,
.textretty h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 1.5rem;
}
.textretty img {
  box-sizing: initial;
  background-color: transparent;
/* cursor: zoom-in; */
  transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1) !important;
  max-width: 90%;
  margin: 1.5rem auto;
  display: block;
}
.textretty code,
.textretty kbd,
.textretty pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.textretty code,
.textretty pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
}
.textretty pre {
  margin-bottom: 0;
  margin-top: 0;
  word-wrap: normal;
  background-color: #f6f8fa;
  border-radius: 2px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}
.textretty code {
  background-color: var(--code-color);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}
.textretty pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  word-wrap: normal;
  max-height: 80vh;
  color: var(--second-text-color);
}
.textretty pre::-webkit-scrollbar {
  height: 3px;
  width: 3px;
  border-radius: 2px;
}
.textretty pre::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 2px;
}
.textretty pre::-webkit-scrollbar-button {
  display: none;
}
.textretty kbd {
  background-color: var(--code-color);
  border-radius: 3px;
  display: inline-block;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  box-shadow: inset 0 -1px 0 #959da5;
  vertical-align: middle;
}
.textretty hr {
  box-sizing: content-box;
  border: 0;
  overflow: hidden;
  background-color: #e1e4e8;
  height: 0.2em;
  margin: 40px auto;
  width: 200px;
  padding: 0;
}
.textretty hr:before {
  content: '';
  display: table;
}
.textretty hr:after {
  clear: both;
  content: '';
  display: table;
}
.textretty table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: auto;
  width: 100%;
  margin: 0;
}
.textretty td,
.textretty th {
  padding: 0;
}
.textretty table th {
  font-weight: 600;
  background: var(--page-bkg-color);
}
.textretty table td,
.textretty table th {
  border: 1px solid var(--sec-bkg);
  padding: 6px 13px;
}
.textretty table tr {
  background-color: var(--page-bkg-color);
  border-top: 1px solid #c6cbd1;
}
.textretty table tr:nth-child(2n+1) {
  background-color: var(--post-bkg-color);
}
.textretty p {
  margin-bottom: 10px;
  margin-top: 0;
}
.textretty blockquote {
  margin: 0;
  border-left: 0.25em solid #dfe2e5;
  color: var(--third-text-color);
  padding: 0 0.8em;
}
.textretty blockquote p {
  margin: 0;
}
.textretty ol,
.textretty ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.textretty ol ol,
.textretty ul ol {
  list-style-type: lower-roman;
}
.textretty ol ol ol,
.textretty ol ul ol,
.textretty ul ol ol,
.textretty ul ul ol {
  list-style-type: lower-alpha;
}
.textretty ol,
.textretty ul {
  padding-left: 2em;
}
.textretty ol ol,
.textretty ol ul,
.textretty ul ol,
.textretty ul ul {
  margin-bottom: 0;
  margin-top: 0;
}
.textretty li {
  word-wrap: break-all;
}
.textretty li>p {
  margin-top: 16px;
}
.textretty li+li {
  margin-top: 0.25em;
}
.textretty header {
  margin-bottom: 30px;
}
.textretty footer {
  margin-top: 30px;
}
.textretty blockquote,
.textretty ol,
.textretty p,
.textretty pre,
.textretty table,
.textretty ul {
  margin-bottom: 16px;
  margin-top: 0;
}
p.tex-para-indent,
.tex-para-indent p {
  text-indent: 1.1em;
}
p.tex-para-indent-full,
.tex-para-indent-full p {
  text-indent: 2em;
}
.textretty pre {
  margin-top: 0;
  margin-bottom: 0;
}
/* Page */
.archive-list time {
  color: var(--third-text-color);
  font-family: Optima-Regular, Optima, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
}
.archive-list span {
  color: var(--second-text-color);
}
.list-page-main {
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.list-group-item {
  border: 0;
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 8px;
}
.category-list-content ul {
  list-style: none;
}
.all-category-list-count {
  float: right;
  font-family: Optima-Regular, Optima, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
}
.all-category-list-count:before {
  content: "[ ";
}
.all-category-list-count:after {
  content: " ]";
}
.all-category-list {
  padding: 0 10px;
  line-height: 1.8rem;
}
@media (max-width: 525px) {
  .links-card {
    width: 80% !important;
    margin: auto;
  }
}
.links-card {
  width: 50%;
  background-color: transparent;
  border: 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-clip: border-box;
  border-radius: 0.25rem;
}
.links-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}
.links-card:hover {
  background-color: var(--sec-shadow);
}
.links-card-body {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  height: 100%;
}
.links-card-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 3.5rem;
}
.link-avatar {
  flex: none;
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
  object-fit: cover;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.link-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  object-fit: cover;
}
.link-text {
  flex: 1;
  display: grid;
  flex-direction: column;
}
.link-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--first-text-color);
  font-weight: bold;
}
.link-intro {
  max-width: 80%;
  max-height: 2rem;
  font-size: 0.85rem;
  line-height: 1.2;
  color: var(--first-text-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
#zoom-picture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/* -moz-filter: blur(8px);
    -webkit-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px); */
  z-index: 3;
  backdrop-filter: blur(8px);
  --webkit-backdrop-filter: blur(8px);
  background-color: var(--page-bkg-color);
}
.poptrox-popup {
/* background: rgba(31, 34, 36, .925); */
  box-shadow: 0 1em 3em 0.5em rgba(0,0,0,0.25);
  cursor: default;
}
/* Post */
@media (max-width: 468px) {
  article[class='page'] {
    width: 95% !important;
    margin: auto;
  }
}
@media (min-width: 768px) {
  article[class='page'] {
    max-width: 650px;
  }
}
.post-toc {
  max-height: 70vh;
  overflow: scroll;
  border-radius: 0.3rem;
  width: 15vh;
  position: fixed;
  bottom: 8rem;
  right: 0;
  z-index: 9;
  background-color: var(--bg-t);
  box-shadow: var(--shadow);
}
.post-toc ol {
  list-style: none;
  padding-inline-start: 1rem;
  font-family: Optima-Regular, Optima, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
}
.post-toc .toc-list-item a {
  color: var(--second-text-color);
}
.post-toc .is-active-li a {
  color: var(--default-link-color);
}
.post-toc .tocbot-is-collapsed li {
  display: none;
}
.post-toc {
  display: none;
}
.post-toc {
  width: 250px;
}
@media (max-width: 300px) {
  .post-toc {
    max-width: 95vw;
  }
}
#post-meta {
  color: var(--third-text-color);
}
#post-meta h3 {
  color: var(--first-text-color);
}
article[class='page'] {
  position: relative;
  width: 80%;
  height: 100%;
  box-shadow: var(--shadow);
  padding: 15px 30px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: var(--post-bkg-color);
  color: var(--second-text-color);
  display: block;
  margin: 84px auto 30px auto;
}
#post-meta-m {
  padding-bottom: 15px;
  border-bottom: 0.1rem solid var(--hr-color);
}
#article {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0.1rem solid var(--hr-color);
}
.post-category {
  padding-top: 15px;
  padding-bottom: 5px;
}
.post-meta span {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.meta-icon {
  font-size: 0.9rem !important;
}
.comments {
  border-top: 0.1rem solid var(--hr-color);
  padding-top: 15px;
}
#p-meta-i .hover-with-bg {
  background-color: var(--bg-t);
  display: inline-block;
  margin: 0.35em;
  font-size: 0.75em;
  text-decoration: none;
  color: currentColor !important;
  padding: 0.25rem 0.6rem 0.25rem 0.6rem;
  border-radius: 5px;
}
.note-success {
  background-color: #eff8f0;
  border-color: #42b983;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.3rem;
  border-left-style: solid;
  margin: 1rem 0;
  padding: 30px;
}
.note-danger {
  background-color: #fcf1f2;
  border-color: #d9534f;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.3rem;
  border-left-style: solid;
  margin: 1rem 0;
  padding: 30px;
}
.note-warning {
  background-color: #fdf8ea;
  border-color: #f0ad4e;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.3rem;
  border-left-style: solid;
  margin: 1rem 0;
  padding: 30px;
}
.note-info {
  background-color: #eef7fa;
  border-color: #428bca;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.3rem;
  border-left-style: solid;
  margin: 1rem 0;
  padding: 30px;
}
.note-default {
  background-color: #f7f7f7;
  border-color: #777;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.3rem;
  border-left-style: solid;
  margin: 1rem 0;
  padding: 30px;
}
.note .title {
  font-size: 1.1rem;
  font-weight: 500;
}
.note {
  padding: 1.1rem 0.7rem;
  line-height: 1.8;
  font-size: 1rem;
  color: #4c4c4c;
  border-radius: 2px;
}
.note a,
.note span {
  color: #4c4c4c;
}
.note pre,
.note code {
  color: var(--second-text-color);
}
.note pre span {
  color: rgba(255,255,255,0.86);
}
.note p {
  margin: 0 !important;
  font-size: 1rem;
  color: #4c4c4c;
}
.mermaid {
  background-color: var(--third-text-color);
  border-radius: 0.6rem;
}
h1,
h2,
h3,
th {
  font-weight: 700;
  color: var(--first-text-color);
}
.highlight {
  margin: 10px 0;
  display: block;
  width: 100%;
  background-color: #181c27;
  border-radius: 5px;
}
.highlight table {
  width: 100%;
  display: block;
  overflow: auto;
}
.highlight tr {
  border: none !important;
  background: #181c27;
}
.highlight td {
  padding: 0;
  border: none !important;
}
.highlight pre {
  border-radius: 0;
  width: 100%;
  background-color: #181c27;
}
.highlight .code {
  background: #181c27;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #181c27 !important;
  padding: 10px;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.8;
  color: #ccc !important;
}
.highlight .gutter,
.highlight .gutter pre {
  color: #999;
  background: #1b1b1b;
  border-radius: 0;
  padding: 10px;
  overflow: auto;
  font-size: 90%;
  line-height: 2;
}
hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.highlight .code pre .comment,
.highlight .code pre .quote {
  color: #5c6370;
  font-style: italic;
}
.highlight .code pre .doctag,
.highlight .code pre .formula,
.highlight .code pre .keyword {
  color: #c678dd;
}
.highlight .code pre .deletion,
.highlight .code pre .name,
.highlight .code pre .section,
.highlight .code pre .selector-tag,
.highlight .code pre .subst {
  color: #e06c75;
}
.highlight .code pre .literal {
  color: #56b6c2;
}
.highlight .code pre .addition,
.highlight .code pre .attribute,
.highlight .code pre .meta-string,
.highlight .code pre .regexp,
.highlight .code pre .string {
  color: #98c379;
}
.highlight .code pre .built_in,
.highlight .code pre .class .highlight .code pre .title {
  color: #e6c07b;
}
.highlight .code pre .attr,
.highlight .code pre .number,
.highlight .code pre .selector-attr,
.highlight .code pre .selector-class,
.highlight .code pre .selector-pseudo,
.highlight .code pre .template-variable,
.highlight .code pre .type,
.highlight .code pre .variable {
  color: #d19a66;
}
.highlight .code pre .bullet,
.highlight .code pre .link,
.highlight .code pre .meta,
.highlight .code pre .selector-id,
.highlight .code pre .symbol,
.highlight .code pre .title {
  color: #61aeee;
}
.highlight .code pre .emphasis {
  font-style: italic;
}
.highlight .code pre .strong {
  font-weight: 700;
}
.highlight .code pre .link {
  text-decoration: underline;
}
details.post-details {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 0;
  margin-bottom: 16px;
}
details.post-details summary {
  outline: 0;
}
details.post-details summary {
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
  background: rgba(0,0,0,0.05);
  padding: 0.5em 1.1em !important;
  margin: 0;
  overflow: hidden;
}
details.post-details[open] .details-content {
  opacity: 1;
  height: auto;
}
details.post-details .details-content {
  transition: all 0.3s;
  margin: 1.5ch;
}
.donate-btn {
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  height: 2.5em;
  line-height: 1.5;
  box-sizing: border-box;
  color: var(--second-text-color);
  background-color: var(--sec-bkg);
  margin: 0.7rem;
}
.donate-way {
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate {
  padding-top: 2ch;
}
.post-copyright {
  background-color: var(--sec-bkg);
  padding: 10px;
  line-height: 1.4;
  word-break: break-all;
  position: relative;
  overflow: hidden;
}
#miracle-comments {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#waline input,
#waline textarea {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.p-btn a:hover {
  color: var(--first-text-color);
}
